version: '3.4'
networks:
  constrsw:
services:
  mongodb-lessons:
    container_name: mongodb=lessons
    image: mongo:latest
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_DATABASE: "lessons"
      MONGO_INITDB_ROOT_USERNAME: "root"
      MONGO_INITDB_ROOT_PASSWORD: "Ab12345678"
    volumes:
      - ./backend/lessons/mongodb-data:data/db
    networks:
      constrsw:
  lessons:
    container_name: 'lessons'
    build: .
    environment:
      spring.data.mongodb.uri: 'mongodb://root:Ab12345678@mongodb:27017/lessons?authSource=admin'
      server.port: 8085
    ports:
      - 8085:8085
    networks:
      constrsw:
    depends_on:
      - mongodb-lessons
  swagger-lessons:
    container_name: swagger-lessons
    image: swaggerapi/swagger-ui
    volumes:
      - ./swagger.yml:/swagger.yml
    ports:
      - 8080:8080
    environment:
      SWAGGER_JSON: /swagger.yml
    networks:
      constrsw:
