html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#menu-label{
  color: #999999;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  border: none;
}
#grid-menu{
  width: 148px;
  margin: 0px;
}

#grid-menu > div{
  margin-left: 16px;
}

.MuiToolbar-root{
  justify-content: center;
}